/* Style the video: 100% width and height to cover the entire window */
video#sphere {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    z-index: -2;
  
}
@font-face {
	font-family: "coucou";
	src: url('Monolith Light Mac.ttf');
}
p {
  
  color: rgba(255, 255, 255, 0.7);
  font-family: "coucou";
  text-decoration: none;
  text-transform: ;
  letter-spacing: 6px;
  font-size: 140%;
  line-height: 40%;
	 position: relative;
  right: -30px;
  top: 18px;
}
 a {
font-family: "baskerville";
  color: rgba(255, 255, 255, 1);
text-decoration: none;
  line-height: 0.2;
  letter-spacing: 14px;
  text-transform: uppercase;
  font-size: 130%;
  
}


/* Non-Demo Styles */
body {
	
  display: block;
  justify-content: center;
  align-items: normal;

  height: 100vh;
  opacity: 40%;
}


