/* Style the video: 100% width and height to cover the entire window */
video#sphere {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    z-index: -2;
  
}
 a {
  color: white;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 8px;
}

/* Non-Demo Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
 

