/* Style the video: 100% width and height to cover the entire window */
video#sphere {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    z-index: -2;
  
}
@font-face {
	font-family: "coucou";
	src: url('Monolith Light Mac.ttf');
}
p {
  
color: rgba(255, 255, 255, 0.4);
  font-family: "coucou";
  text-decoration: none;
  text-align: center;
  position: center;
  text-transform:  ;
  letter-spacing: 6px;
  font-size: 140%;
  line-height: 0.145;
	position: relative;
  right: -05px;
  top: 60px;
}
 a {
font-family: "baskerville";
  color: rgba(255, 255, 255, 0.9);
text-decoration: none;
  line-height: 0.2;
  letter-spacing: 14px;
  text-transform: uppercase;
  font-size: 130%;
  
}

a.contact {
font-family: "baskerville";
  color: rgba(255, 255, 255, 0.9);
text-decoration: none;
  line-height: 0.2;
  letter-spacing: 14px;
  text-transform: uppercase;
  font-size: 80%;
  
}
p.felower {
font-family: "baskerville";
  color: rgba(255, 255, 255, 0.99);
text-decoration: none;
  line-height: 0.2;
  letter-spacing: 17px;
  text-transform: uppercase;
  font-size: 120%;
}
p.mono {
	color: rgba(255, 255, 255, 0.4);
  font-family: "coucou";
  text-decoration: none;
  text-align: center;
  position: center;
  text-transform:  ;
  letter-spacing: 5px;
  font-size: 70%;
  line-height: 0.145;
	position: relative;
  right: -05px;
  top: 60px;
}





