/* Style the video: 100% width and height to cover the entire window */
video#sphere {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    z-index: -2;
  
}

<p> <a href="https://www.soundcloud.com/findfelower/">soundcloud</a> </p>
