/* Style the video: 100% width and height to cover the entire window */
body {
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}

p {
    width: 800px;
    margin: 0 auto 1rem;
}

header {
    background: url(image.jpg);
    height: 100vh;
    margin-bottom: 2rem;
    background-size: cover;
    }
    
body {background-color: black;
    margin: 0;
 color: white;
 position: fixed;
    top: 3%;
    bottom: 0;
    left: 3%;
    right: 0;
}
    

video#sphere {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    z-index: -2;
  
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    z-index: 10;
}
